body {
    background-image: url("images/login/loginBac.jpg");;
    background-size: 100%;
    background-repeat: no-repeat;
}

#login_frame {
    width: 400px;
    height: 500px;
    padding: 12px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(19, 27, 27, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

.label_input {
    font-size: 14px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: left;
    color: black;
    background-color: rgb(99, 135, 144);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
}

.text_field {
    width: 400px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    float: left;
}

.radio_button {
  position: relative;
    top: 100px;
  display: inline-block;
}


#login_control {
    width: 400px;
    height: 28px;
    padding-top: 380px;
    text-align: center;
}

#btn_login {
    font-size: 14px;

    width: 160px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: rgb(139, 180, 190);
    border-radius: 6px;
    border: 0;
    text-align: center;

    position: relative;
      top: 45px;
}
